<div id="aboutbox">
    <div class="abouttitle">
	サイト名
    </div>
    <div class="aboutcontents">
	VROWNIE
    </div>
    <div class="abouttitle">
	URL
    </div>
    <div class="aboutcontents">
	http://vrownie.herokuapp.com/
    </div>
    <div class="abouttitle">
	サイトの内容
    </div>
    <div class="aboutcontents">
	このサイトは最新のアダルトVRに関する記事をまとめたサイトです。
    </div>
    <div class="abouttitle">
	開設日
    </div>
    <div class="aboutcontents">
	2016年9月 / サイト開設 
    </div>
    <div class="abouttitle">
	リンクについて
    </div>
    <div class="aboutcontents">
	リンクはフリーです。
    </div>
    <div id="aboutspace" style="width:100%; height:90px;"></div>
</div>
