// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* 共通レイアウト ================================ */

html {
   width:100%;
   height:100%;
//  min-width:1424px;
//  min-height:600px;
}

body {
  height:100%;
  width:100%;
  color: #364a5f;
  background-color:#faf0e6;
}


/* ヘッダー ================================ */
.navbar {
  width:100%;
  height:auto;;
  background-color:white;
  z-index:100;
  position:relative;
}

.navbar-sm {
  width:100%;
  height:auto;;
  background-color:white;
  z-index:100;
  position:relative;
}

#desc{
  display:inline-block;
  width:500px;
  margin-top:5px;
  margin-left:10px;
  height:auto;
  font-size:17px;
  color:#808080;
}

#desc-sm{
  display:inline-block;
  width:500px;
  margin-top:5px;
  margin-left:10px;
  height:auto;
  font-size:25px;
  color:#808080;
}
#logo-lg{
}

#logo-md{
}

#snswrapper{
  height:35px;
  position:absolute;
  bottom:0;
  right:0;
  argin-right:15px;
  margin-bottom:10px;
}

.snslogo{
  width:35px;
  height:35px;
  margin-right:5px;
  float:left;
}

#snswrapper-sm{
  height:60px;
  position:absolute;
  bottom:0;
  right:0;
  argin-right:15px;
  margin-bottom:10px;
}

.snslogo-sm{
  width:60px;
  height:60px;
  margin-right:5px;
  float:left;
}

#adwrapper-top{
  width:728px;
  margin:0 auto 30px;
}

#adwrapper-bottom{
  width:728px;
  margin:20px auto 10px;
}



/* フッター ================================ */
.footer {
  width:100%;
  height:60px;
  color: black;
  background-color:white;
}

.small {
  width:100%;
  height:15px;
  margin-top:20px;
}

.links{
  font-size:16px;
  display:inline-block;
  margin:0 15px;
}


.footer-sm {
  width:100%;
  height:140px;
  color: black;
  background-color:white;
}

.small-sm {
  width:100%;
  height:100px;
  margin:30px auto 0;
}

.links-sm{
  font-size:90px;
  display:inline-block;
  margin:0 15px;
}

/* 独自 ================================*/
//メインコンテンツ

.imagewrapper-lg{
  width:100%;
  height:230px;
  box-shadow:1px 1px 1px;
}

.imagewrapper-sm{
  width:100%;
  height:280px;
  box-shadow:1px 1px 1px;
}

.subtitlelayer{
  height:85px;
  overflow:hidden;
  background-color:#20b2aa;
  box-shadow:1px 1px 1px;
}

.subtitlelayer-sm{
  background-color:#20b2aa;
  height:150px;
  box-shadow:1px 1px 1px;
  overflow:hidden;
}

.subtitle{
  font-size:20px;
  font-weight:bold;
}

.subtitle-sm{
  font-size:34px;
  font-weight:bold;
}

//日付表示
.datelayer{
  width:auto;
  height:25px;
  font-size:16px;
  font-weight:bold;
  background-color:white;
  margin-bottom:20px;
  box-shadow:1px 1px 1px;
  overflow:hidden;
}

.datelayer-sm{
  width:auto;
  height:45px;
  font-size:27px;
  font-weight:bold;
  background-color:white;
  margin-bottom:50px;
  box-shadow:1px 1px 1px;
  overflow:hidden;
}

.date{
  color:blue;
  float:left;
  padding-left:5px;
}

.sites{
  color:blue;
  float:right;
  padding-right:5px;
}


/* ページ遷移部分 */
.paging{
  width:600px;
  margin:20px auto 0;
}


.start_number{
  width:50px;
  height:40px;
  float:left;
  margin:0 5px;
}

.numbers{
  width:50px;
  height:40px;
  float:left;
  margin:0 5px;
}

.numbers:hover{
  background-color:#d3d3d3;
}

.inner{
  width:100%;
  height:100%;
  padding-top:4px;
  display:inline-block;
  text-align:center;
  vertical-align:middle;
  font-size:20px;
}


/* googleフォーム*/
iframe{
}

.clear {
  clear: both;
  height: 30px;
}

.searchform{
  float:right;
  margin-top:15px;
  position:relative;
}


/* aboutページ */
#aboutbox{
  //width:450px;
  margin:0 auto;
  color:#000080;
}

.abouttitle{
  font-size:18px;
  margin-bottom:10px;
}

.aboutcontents{
  font-size:14px;
  margin-bottom:25px;
}
